absresgetter==0.0.12
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
docopt==0.6.2
flake8==6.0.0
idna==3.4
keyboard==0.13.5
loguru==0.6.0
mccabe==0.7.0
Pillow==9.4.0
pipreqs==0.4.11
pycodestyle==2.10.0
pyflakes==3.0.1
pyqt-frameless-window==0.0.61
pyqt-mac-buttons-widget==0.0.15
pyqt-svg-abstractbutton==0.0.7
pyqt-svg-button==0.0.26
pyqt-svg-icon-text-widget==0.0.31
pyqt-svg-label==0.0.13
pyqt-titlebar-buttons-widget==0.0.21
pyqt-top-titlebar-widget==0.0.21
pyqt-windows-buttons-widget==0.0.18
PyQt6==6.4.2
PyQt6-Qt6==6.4.3
PyQt6-sip==13.4.1
reportlab==3.6.12
requests==2.28.2
urllib3==1.26.15
win32-setctime==1.1.0
yarg==0.1.9
